<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
    <div id="loader-wrapper">
      <div class="loader"></div>
    </div>
    <div class="container">
      <!--   <div>
        <h3>1) Write a title for this text</h3>
        <h3>2) What is missing from this text</h3>
        <h3>3) Write a summary of this text</h3>
      </div>

      <textarea id="prompt_str" type="text"><%= promptStr %> </textarea><br />
-->

<form action="fileupload"  method="post" enctype="multipart/form-data">

  <input type="file" name="filetoupload">

  <button type="submit">Generate</button>


</form>
<div id="thecontainer" style="margin-left: 10%; margin-right: 10%;">

</div>



      <!--
      <button onclick="onSendRequest();">Generate</button>
      <div class="flex">
        <h3 id="result1"></h3>
        <h3 id="result2"></h3>
        <h3 id="result3"></h3>
      </div>
      -->
    </div>
  </body>

  <script>

    var serverEvents = new EventSource('http://100.24.217.6:3001/events');
    serverEvents.addEventListener('message', function(event){
      if(event.data !== "DONE") {
        var dataJSON = JSON.parse(event.data)

        console.log(dataJSON.choices[0].text);

        if (dataJSON) {
          document.getElementById("thecontainer").innerHTML += dataJSON.choices[0].text.replace(new RegExp('\r?\n','g'), '<br />');
        }
      }
    });



  </script>
  <script src="/javascripts/main.js"></script>
</html>
